.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.nav {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ffffff2d;
  height: 30px;
  width: 100%;
  display: flex;
  border-radius: 25px;
  box-shadow: 0px 0px 100px black;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 10px;
  align-items: center;
  gap: 10px;
}

.buttonSelect {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonSelect:hover {
  opacity: 0.8;
  transition-duration: 200ms;
  transform: scale(1.05);
 
}

.text {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-famility);
  color: var(--white);
}

.logo {
  width: 24px;
  height: 24px;
}

.drag {
  -webkit-app-region: drag;
}

.noDrag {
  -webkit-app-region: none;
}

.nav > span {
  margin-right: 10px;
}

.dash {
  height: 25px;
  margin-right: 3px;
}

.mark {
  height: 28px;
  color: linear-gradient(
    92.88deg,
    #5d4992 9.16%,
    #6248aa 43.89%,
    #6f4ad4 64.72%
  );
}

.logout {
  height: 17px;
}

.update {
  height: 20px;
  margin-left: 5px;
}

.selectPlaylist {
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
