.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 16px;
  font-family: var(--font-famility);
  color: var(--white);
  background-color: var(--transparent-black);
  border-radius: 25px;
  border: 1px solid var(--white);
  margin: 0;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 1px #5d4992;
  transition-duration: 300ms;
}

.button:hover .icon {
  transition-duration: 300ms;
}

.button:active {
  box-shadow: inset 0 0 10px 1px #5d4992;
}

.icon {
  height: 25px;
  width: 25px;
  fill: white;
  margin-right: 5px;
}
