@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgb(41, 39, 41)), 
    url('static://bg.jpg')
    no-repeat center center fixed;
    
  background-size: cover; 

  background-color: rgb(32, 32, 32);

  margin: 0%;
  padding: 0%;
  background-attachment: fixed, fixed;
  height: 550px;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --font-famility: 'Comfortaa';
  --transparent-black: hsla(0, 0%, 0%, 0.2);
  --transparent-white: rgba(255, 255, 255, 0.2);
  --light-purple: rgb(182, 156, 255);
  --white: #fff;
}
